# Ignore node_modules everywhere
node_modules
admin/node_modules
functions/node_modules

# Ignore build outputs
admin/dist
functions/lib

# Ignore logs and git
*.log
.git
.gitignore
Dockerfile*
docker-compose.yml

.vscode
